@font-face {
        font-family: architype;
        src: url(fonts/AubetteArchiType.otf);
}

@font-face {
        font-family: bodytext;
        src: url(fonts/nine0.ttf);
}

@font-face {
        font-family: subheaderfont;
        src: url(fonts/prstartk.ttf);
}

@keyframes pixelBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1vh);
  }
}

@keyframes pulseGlow {
  0%, 100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.3);
  }
}

@keyframes pixelBlink {
  0%, 100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.3);
  }
}

@keyframes pixelPop {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
}

@keyframes fadeSlideIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.sidebar {
  margin: 0;
  padding: 0 0 10px 70px;
  width: 90px;
  background-color: #fffcf3;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 5px solid #70480c;
}

.sidebar .icon {
  background: transparent;
  border: none;
  padding: 10px;
  margin: 50px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .icon img {
  width: 40px;
  object-fit: contain;
}

.sidebar .icon:hover img {
  filter: brightness(1.3);
  transform: scale(1.1);
  transition: 0.2s;
}

.sidebar .logo {
  background: transparent;
  border: none;
  margin: 50px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .logo img {
    width: 50px;
    object-fit: contain;
}

.sidebar .logo:hover img {
    filter: brightness(1.3);
    transform: scale(1.1);
    transition: 0.2s;
}

.logout {
    position: absolute;
    bottom: 20px;
}

div.content {
    margin-left: 400px;
    padding-top: 170px;
    animation: pixelBounce 2.5s ease-in-out infinite;
    position: relative;
}

.character-wrapper {
    height: 550px;
    width: 550px;
    background-color: #ffde59;
    border: 2px solid #70480c;
    box-shadow: 16px 13px #70480c;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.character-wrapper img {
    width: 450px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    background-color: #fffcf3;
}

.content button {
    background: transparent;
    border: none;
    font-family: subheaderfont;
    color: #70480c;
    font-size: 70px;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.5);
    transform: scale(0.8);
    transition: 0.2s;
}

#prevButton {
    left: -100px;
    top: 430px;
    position: absolute;
}

#nextButton {
    right: 850px;
    top: 425px;
    position: absolute;
}

.setButton button {
    color: #ffde59 !important;
    background-color: #70480c;
    font-size: 35px;
    padding: 15px 75px;
    margin-top: 60px;
    margin-left: 150px;
}

.userInfo p {
    color: red;
    font-family: subheaderfont;
    position: relative;
    margin-left: 112px;
    margin-bottom: -8px;
    margin-top: -8px;
}

.userInfo {
  margin-left: 750px;
  border: 5px solid #70480c;
    background-color: #fffaf0;
    width: 40%; 
    padding: 15px 12px;
    box-sizing: border-box;
    position: absolute;
    top: 338px;
}

.userInfo button {
  color: #ffde59 !important;
    background-color: #70480c;
    font-size: 18px;
    padding: 15px 40px;
    margin-top: 40px;
    margin-left: 210px;
    margin-bottom: 20px;
}

.userInfo input {
  width: 45%;
    padding: 3%;
    margin-bottom: 7%;
    margin-left: 230px;
    margin-top: -100px;
    background-color: #fffcf3;
    border: 3.5px solid #70480c;
    font-family: bodytext;
    color: #70480c;
    font-size: 1.8vw;
    position: relative;
}

.userInfo input::placeholder  {
  font-family: bodytext;
    color: #70480c;
    font-size: 1.8vw;
}

.userInfo label {
  font-family: subheaderfont;
  color: #70480c;
  font-size: 1.5vw;
  margin-left: 30px;
  display: inline-block;
  margin-top: 60px;
}

.labelBox {
    border: 5px solid #70480c;
    background-color: #fffaf0;
    width: 40%; 
    padding: 15px 12px;
    box-sizing: border-box;
    position: absolute;
    top: 280px; 
    left: 69.6%;
    transform: translateX(-50%);
}

.labelBox p {
    font-family: subheaderfont;
    color: #70480c;
    font-size: 1.2vw;
    margin: 0;
}

.profile {
  height: 40px;
    width: 40px;
    background-color: #ffde59;
    border: 2px solid #70480c;
    box-shadow: 7px 5px #70480c;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.profile:hover {
  filter: brightness(1.3);
  transform: scale(0.9);
  transition: 0.2s;
}